.DS_Store
acra
configstore
git/user
iterm2/AppSupport
karabiner/automatic_backups
lvim/plugin
nvim/plugin
oni2/extensions
oni2/store
oni2/workspace
pip
raycast
yarn
Brewfile.lock.json
nnn
lnav
gh
github-copilot
lazygit/state.yml
githubnext_*
atlassian
cloudtoken
barn
graphite
gh-copilot
.copilot

# laserwave.nvim
git/laserwave.gitconfig
kitty/laserwave.conf
alacritty/laserwave.yml
bat/themes/laserwave.tmTheme
wezterm/colors/laserwave.toml
yazi/flavors/laserwave.yazi

# kitty-scrollback.nvim
kitty/kitty_scroll_prompt.py
kitty/kitty_scrollback_nvim.py
kitty/loading.py

# smart-splits.nvim
kitty/neighboring_window.py
kitty/relative_resize.py
kitty/split_window.py
