.DS_Store
configstore
git/user
git/laserwave.gitconfig
iterm2/AppSupport
karabiner/automatic_backups
lvim/plugin
nvim/plugin
oni2/extensions
oni2/store
oni2/workspace
pip
raycast
yarn
Brewfile.lock.json
nnn
lnav
gh
github-copilot
kitty/laserwave.conf
alacritty/laserwave.yml
bat/themes/laserwave.tmTheme
wezterm/colors/laserwave.toml
lazygit/state.yml
githubnext_*
atlassian
cloudtoken
barn
graphite
gh-copilot
